* {
    box-sizing: border-box;
}
.app-container {
    width: 100%;
    font-size: 15px;
}
@media screen and (min-width: 576px) {
    .app-container {
        width: 85%;
        font-size: 18px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 768px) {
    .app-container {
        width: 75%;
    }
}
@media screen and (min-width: 992px) {
    .app-container {
        width: 60%;
    }
}
@media screen and (min-width: 1200px) {
    .app-container {
        width: 50%;
    }
}